<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="main">
    <div class="badge"><img src="/img/bg_01.png"></div>
    <div class="header">
      <div class="logo"><img src="/img/logo.png"></div>
      <div class="content">
        <h2 class="line-height-5">尊敬的用户，您好：</h2>
        <p style>您在联通定制智慧沃家组合版套餐主号码套餐
          <span>{{main.STANDARD_FEE}} 元</span>，
          <span>享受<br/>折扣 {{main.DISCNT_RATE}} 折</span>，
          <span>折扣<br/>优惠 {{main.DISCNT_FEE}} 元</span>，
          <span>赠款<br/>金额 {{main.WRITEOFF_FEE}} 元</span>，
          <span>实际<br/>应收 {{main.YS_FEE}} 元</span>
          <span style="display:none;">实际收款 {{main.SJ_FEE}} 元</span>。
        </p>
        {{#if main.ADJUST}}
          <p>其中(
            {{#if main.ADJUST_BEFORE}}
              帐前调账{{main.ADJUST_BEFORE}}元
              {{#if main.ADJUST_AFTER}},{{/if}}
            {{/if}}
            {{#if main.ADJUST_AFTER}}
              帐后调账{{main.ADJUST_AFTER}}元
            {{/if}})
          </p>
        {{/if}}
        {{#if main.carryTotalFlow}}
          <p>主号码上月结转{{main.carryTotalFlow}}M 流量，截止目前剩余{{main.carryRemainFlow}}M 流量。</p>
        {{/if}}
        <p>您定制智慧沃家组合版月结账单如下：</p>
      </div>
      <h1 class="text-center">智慧沃家组合版月结账单</h1>
      <h2 class="text-center">账单月份 {{params.cycle_id}}</h2>
    </div>
    <div class="">
      <table class="bill-table">
        <thead>
          <tr>
            <th>业务号码</th>
            <th>客户名称</th>
            <th colspan="2">综合账目名称</th>
            <th>计费应收</th>
            <th>折扣优惠</th>
            <th>赠送金额</th>
            <th>实际应收</th>
            <th style="display:none;">实际收款</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
            <tr>
              {{#unless last}}
                {{#if F1rowspan}}
                  <td rowspan="{{F1rowspan}}" style="vertical-align:middle;">{{F1}}</td>
                {{/if}}
                {{#if F1rowspan}}
                  <td rowspan="{{F1rowspan}}" style="vertical-align:middle;">{{F2}}</td>
                {{/if}}
                {{#if F3colspan}}
                  <td colspan="2" style="text-align:center">小计</td>
                {{/if}}
                {{#unless F3colspan}}
                  <td>{{F3}}</td>
                  <td>{{F4}}</td>
                {{/unless}}
              {{/unless}}

              {{#if last}}
                <td colspan="4" style="text-align:center">总计</td>
              {{/if}}

              <td>{{F11}}</td>
              <td>{{F12}}</td>
              <td>{{F13}}</td>
              <td>{{F14}}</td>
              <td style="display:none;">{{F15}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="footer">温馨提示：实际应收 = 计费应收 - 折扣优惠 - 赠款金额</div>
  </div>
</body>

</html>
